.root {
  height: 100%;
}

.cuerpo {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
}

.stack {
  margin: 0;
  padding: 0;
  height: 100%;
}

.flavor {
  position: relative;
  border-radius: 0;
  border-style: none;
  border-width: 0;
  box-sizing: border-box;
  display: block;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  touch-action: manipulation;
  width: 100%;
  overflow: hidden;
}

.amount {
  outline-color: inherit;
  border-radius: 0;
  border-style: none;
  border-width: 0;
  box-sizing: border-box;
  display: inline-block;
  font: inherit;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  overflow: visible;
  padding: 0;
  text-transform: none;
}

.key {
  position: absolute;
  right: 0;
}
